<!DOCTYPE html>
<html lang="ja">
  <head>
  <meta charset="UTF-8" />
  <title>猫のトリミング</title>
  <meta name="keywords" content="猫," />
  <meta name="description" content="猫,トリミング" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta
    name="viewport"
    content="width=device-width,userscalable=no,maximum-scale=1"
  />
  <meta name="robots" content="noindex,nofollow,noarchive" />
  <link rel="stylesheet" type="text/css" href="css/common.css" />
  <link rel="stylesheet" type="text/css" href="css/responsive.css" />
  <link
    rel="stylesheet"
    href="js/flexslider/woocommerce-FlexSlider-690832b/flexslider.css"
    type="text/css"
  />
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="https://kit.fontawesome.com/76d95af082.js"></script>
  <script
    type="text/javascript"
    src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"
  ></script>
  <script type="text/javascript" src="js/common.js"></script>
  <script src="js/flexslider/woocommerce-FlexSlider-690832b/jquery.flexslider.js"></script>
  <script type="text/javascript" src="js/jquery.easie.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bubbly-bg@1.0.0/dist/bubbly-bg.js"></script>
  </head>
  <body>
    <div id="loader-bg">
      <div id="loader">
        <img
          src="img/cat1.png"
          width="80"
          height="80"
          alt="Now Loading..."
        />
        <p>Now Loading...</p>
      </div>
    </div>

    <header>
      <!-- メイン -->
      <section class="top-title overflow">
        <div class="flexslider">
          <ul class="slides">
            <li class="transition">
              <img src="img/top02.png" />
            </li>
            <li class="transition">
              <img src="img/top03.png" />
            </li>
            <li class="transition">
              <img class="first-view" src="img/top01.png" />
            </li>
          </ul>
          <ul class="message">
            <li class="">
              <img class="" src="img/サロン嫌いな.png" alt="サロン嫌いな" />
            </li>
            <li class="">
              <img
                class="hoge"
                src="img/困ったにゃん.png"
                alt="サロン嫌いな"
              />
            </li>
            <li class="">
              <img
                class=""
                src="img/お任せください.png"
                alt="サロン嫌いな"
              />
            </li>
          </ul>
          <img
            id="hanko"
            class="checkmark"
            src="img/checkmark.png"
            alt="チェックマーク"
          />
        </div>
      </section>
      <div id="box"></div>
    </header>
    <main>
      <section class="title1 overflow">
        <img class="brand-consept" src="img/brandConsept.png" alt="" />
        <p class="letterSpacing">CONSEPT</p>
        <hr class="mini-hr" />
        <h2>
          <img
            class="fadeInUp"
            src="img/title1.png"
            alt="出張トリミング文言"
          />
        </h2>

        <div class="shop-explain ">
          <div class="sample"></div>

          <p class="fadeInUp">
            猫ちゃん、シニアの飼い主様。<br />
            お困りのことがあったら、一人で悩まず、まずはFelienにご相談ください。その子にとって一番良いホリスティックケアを一緒に見つけてあげましょう。
          </p>
          <div class="sample2"></div>
          <p class="fadeInUp">
            シニアさんやボケちゃったお年寄りさんだって私たち人を癒してくれる家族。<br />
            いつまでも元気に長生きしてほしいから、後悔しないように今からでもしてあげられることをはじめてあげませんか？
          </p>
        </div>
      </section>
      <!-- 猫ちゃんシニアさんの困りごと -->
      <section class="title2 clear-float">
        <h1><img src="img/title2.png" alt="困っていませんか？" /></h1>
        <div class="woman-size">
          <img class="woman" src="img/woman.png" alt="困り女性" />
        </div>
        <img
          class="hukidasi pc fadeInUp"
          src="img/feelings.png"
          alt="困りごと内容"
        />
        <img
          class="hukidashi-right sp"
          src="img/sp/hukidasshiRight.png"
          alt="「出来ないと断られた」"
        />
        <img
          class="hukidashi-left sp"
          src="img/sp/hukidashiLeft.png"
          alt="「出来ないと断られた」"
        />
      </section>
      <!-- ブランド名 -->
      <section id="gradient" class="title3">
        <div class="brand-color-left"></div>
        <div class="brand-color-right"></div>

        <h2>
          <img class="brand-decision" src="img/brandDecision.png" alt="" />
        </h2>
      </section>
      <!-- 三つの特徴 -->

      <section class="title4">
        <div>
          <img
            class="title"
            src="img/threeFeatureTitle.png"
            alt="三つの特徴"
          />
        </div>
        <div class="fadeInUp waku three-feature float-l">
          <h2 class="font-digital">
            <img src="img/catHand.png" alt="猫の手１" />
            無麻酔
          </h2>
          <p class="font-variable vm">
            経験豊富なトリマーが麻酔を使わずにケアを行います。猫ちゃんに負担がかからず安心です。
          </p>
        </div>
        <div class="fadeInUp waku three-feature float-l">
          <h2 class="font-digital">
            <img src="img/catHand2.png" alt="猫の手2" />
            猫・シニア専門
          </h2>
          <p class="font-variable vm">
            猫ちゃんだけではなく、病気や寝たきりになったシニア犬・シニア猫ちゃんも担当します。
          </p>
        </div>
        <div class="fadeInUp waku three-feature float-l">
          <h2 class="font-digital">
            <img src="img/catHand2.png" alt="猫の手2" />
            ご自宅まで出張
          </h2>
          <p class="font-variable vm">
            外出が苦手な猫ちゃんやシニアには、慣れているご自宅お環境でトリミングが受けられます。
          </p>
        </div>
        <div class="swing cat three-feature float-l"></div>
        <div class="zzz pc"><img src="img/zzz.gif" alt="zzz" /></div>
      </section>

      <!-- 出張トリミング -->
      <section class="title5 clear-float">
        <h2 class="mini-title font-digital">出張トリミング料金表</h2>
        <p class="letterSpacing">PRICE</p>
        <hr class="mini-hr" />
        <div class="course-box">
          <!-- シャンプー -->
          <div class="course float-l">
            <div class="course-title">
              <img
                class="course-img"
                src="img/shampoo.png"
                alt="シャンプー"
                style="width: 11%;"
              />
              <p>
                course 1
                <br /><span class="font-digital">シャンプーコース</span>
              </p>
            </div>
            <div class="box-margin">
              <div class="overflow doing">
                <div class="contents-box">
                  <p>
                    爪切り・肛門線・ブラッシング・コーミング・シャンプー・ブロー
                  </p>
                </div>
                <p class="plus">＋</p>
                <div class="contents-box">
                  <p>
                    プロによる簡単なお手入れ方法レクチャー
                  </p>
                </div>
              </div>
              <div class="explan clear-float">
                被毛の状態や皮膚の状態を見極めた上でその子に最適な自然植物油100%手作り石鹸を選び施術します
              </div>
              <hr />
              <dl class="overflow">
                <dt class="float-l">毛の長さ</dt>
                <dt class="float-l">体重</dt>
              </dl>

              <div class="price clear-float">
                <p class="sp price-type">短毛</p>
                <table>
                  <tr>
                    <td>短毛</td>
                    <td>3㎏以下</td>
                    <td>￥13,000~</td>
                  </tr>
                  <tr>
                    <td></td>
                    <td>4㎏~7kg以下</td>
                    <td>￥17,000~</td>
                  </tr>
                  <tr>
                    <td></td>
                    <td>7kg以下</td>
                    <td>￥20,000~</td>
                  </tr>
                </table>
              </div>
              <div class="price">
                <p class="sp price-type">長毛</p>
                <table>
                  <tr>
                    <td class="">長毛</td>
                    <td>3㎏以下</td>
                    <td>￥13,000~</td>
                  </tr>
                  <tr>
                    <td></td>
                    <td>4㎏~7kg以下</td>
                    <td>￥17,000~</td>
                  </tr>
                  <tr>
                    <td></td>
                    <td>7kg以下</td>
                    <td>￥20,000~</td>
                  </tr>
                </table>
              </div>
              <p class="sp">※kgは体重を表しております。</p>
              <div class="price">
                <p class="float-l">
                  <span>追加料金</span><br />抜け毛・毛玉処理
                </p>
                <p class="float-r price-height">￥3,000~￥10,000</p>
              </div>
            </div>
          </div>
          <!-- トリミングコース -->
          <div class="course float-l">
            <div class="course-title">
              <img class="course-img" src="img/caesar.png" alt="ハサミ" />
              <p>
                course 2
                <br /><span class="font-digital">トリミングコース</span>
              </p>
            </div>
            <div class="box-margin">
              <div class="overflow doing">
                <div class="contents-box">
                  <p>
                    爪切り・肛門・耳掃除・ブラッシング・コーミング・カット・シャンプー・ブロー
                  </p>
                </div>
                <p class="plus">＋</p>
                <div class="contents-box">
                  <p>
                    プロによる簡単なお手入れ方法レクチャー
                  </p>
                </div>
              </div>
              <div class="explan clear-float">
                毛玉の量や質により状態を見極め処理し、オーナー様とご相談しながらその子に適したカットします
              </div>
              <hr />
              <dl class="overflow">
                <dt class="float-l">毛の長さ</dt>
                <dt class="float-l">体重</dt>
              </dl>
              <div class="price clear-float">
                <p class="sp price-type">短毛</p>
                <table>
                  <tr>
                    <td>短毛</td>
                    <td>3㎏以下</td>
                    <td>￥25,000~</td>
                  </tr>
                  <tr>
                    <td></td>
                    <td>4㎏~7kg以下</td>
                    <td>￥30,000~</td>
                  </tr>
                  <tr>
                    <td></td>
                    <td>7kg以下</td>
                    <td>￥35,000~</td>
                  </tr>
                </table>
              </div>
              <p class="sp">※kgは体重を表しております。</p>
              <div class="price">
                <p class="float-l">
                  <span>追加料金</span><br />抜け毛・毛玉処理
                </p>
                <p class="float-r price-height">￥3,000~￥10,000</p>
              </div>
            </div>
          </div>
          <!-- シニアトリミング・グルーミングコース -->
          <div class="course float-l">
            <div class="course-title">
              <img class="course-img" src="img/brush.png" alt="ブラシ" />
              <p>
                course 3
                <br /><span class="font-digital"
                  >シニアトリミング・グルーミングコース</span
                >
              </p>
            </div>
            <div class="box-margin">
              <div class="explan clear-float">
                寝たきりや立っているのが困難なシニアさんはその状況を見て適した対応をさせていただきます。
              </div>
              <hr />
              <dl class="overflow">
                <dt class="float-l">メニュー</dt>
              </dl>
              <div class="price clear-float">
                <table class="senior">
                  <tr>
                    <td>シャンプー・カットなし</td>
                    <td>￥10,000~￥20,000</td>
                  </tr>
                  <tr>
                    <td>シャンプー無し・カットあり</td>
                    <td>￥20,000~￥30,000</td>
                  </tr>
                  <tr>
                    <td>シニアわんトリミング<br />シャンプー＆カット</td>
                    <td>￥15,000~￥30,000</td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
          <!-- 麻酔無しで行う『困ったにゃん』コース -->
          <div class="course float-l">
            <div class="course-title">
              <img class="course-img" src="img/nikukyu.png" alt="肉球" />
              <p>
                course 4
                <br /><span class="font-digital"
                  >麻酔無しで行う『困ったにゃん』コース</span
                >
              </p>
            </div>
            <div class="box-margin">
              <div class="explan clear-float">
                どんな子も今まで出来なかった子はいません！悩んでないで一度ご相談ください
              </div>
              <ul>
                <li>凶暴でどこからも断られてしまう</li>
                <li>麻酔をかけないとできない</li>
                <li>麻酔は負担がかかりすぎるから麻酔無しでしたい</li>
              </ul>
              <hr />
              <div class="price">
                <p class="float-l">
                  <span>各コース価格に別途追加料金になります</span>
                </p>
                <p class="float-r">￥10,000~￥20,000</p>
              </div>
            </div>
          </div>
        </div>
        <!-- 料金シミュレーション -->
        <div id="app">
            <div class="simulation">
                <h3 class="font-digital">料金シミュレーション</h3>
                <p>ご希望の内容をお選びください。</p>
                <div class="step">
                    <h4 class="font-digital"><span>STEP1</span>コース選択</h4>
                    <p>必要なコースを選択してください。</p>
                    <ul class="step1box">
                        <li>
                            <p><span>course1</span>シャンプーコース</p>
                            <div class="switch">
                                <label for="s1" class="switch__label">
                                    <input type="checkbox"
                                        id="s1"
                                        class="switch__input"
                                        v-model="course1">
                                    <span class="switch__content"></span>
                                    <span class="switch__circle"></span>
                                </label>
                            </div>
                        </li>
                        <li>
                            <p><span>course2</span>トリミングコース</p>
                            <div class="switch">
                                <label for="s2" class="switch__label">
                                    <input type="checkbox"
                                        id="s2"
                                        class="switch__input"
                                        v-model="course2">
                                    <span class="switch__content"></span>
                                    <span class="switch__circle"></span>
                                </label>
                            </div>
                        </li>
                        <li>
                            <p><span>course3</span>シニアトリミング・<br>グルーミングコース</p>
                            <div class="switch">
                                <label for="s3" class="switch__label">
                                    <input type="checkbox"
                                        id="s3"
                                        class="switch__input"
                                        v-model="course3">
                                    <span class="switch__content"></span>
                                    <span class="switch__circle"></span>
                                </label>
                            </div>
                        </li>
                        <li>
                            <p><span>course4</span>麻酔無しで行う<br>『困ったにゃん』コース</p>
                            <div class="switch">
                                <label for="s4" class="switch__label">
                                    <input type="checkbox"
                                        id="s4"
                                        class="switch__input"
                                        v-model="course4">
                                    <span class="switch__content"></span>
                                    <span class="switch__circle"></span>
                                </label>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="step">
                    <h4 class="font-digital"><span>STEP2</span>情報入力</h4>
                    <p>猫ちゃんの状態や追加オプションを選択してください。</p>
                    <ul class="step2box">
                        <li class="color1" v-if="course1">
                            <p class="course-title">course1</p>
                            <p>毛の長さ</p>
                            <select>
                                <option value="noselect">選択してください</option>
                                <option value="0">短毛</option>
                                <option value="1">長毛</option>
                            </select>
                            <p>体重</p>
                            <select>
                                <option value="noselect">選択してください</option>
                                <option value="0">3kg以下</option>
                                <option value="1">4kg~7kg以下</option>
                                <option value="2">7kg以上</option>
                            </select>
                            <p>オプション追加</p>
                            <label class="btn active" for="o1">
                                <input id="o1" type="checkbox"><i class="fa fa-check-square-o fa-2x"></i>
                                <span>抜け毛・毛玉処理</span>
                            </label>
                        </li>
                        <li class="color2" v-if="course2">
                            <p class="course-title">course2</p>
                            <p>毛の長さ</p>
                            <select>
                                <option value="noselect">選択してください</option>
                                <option value="0">短毛</option>
                            </select>
                            <p>体重</p>
                            <select>
                                <option value="noselect">選択してください</option>
                                <option value="0">3kg以下</option>
                                <option value="1">4kg~7kg以下</option>
                                <option value="2">7kg以上</option>
                            </select>
                            <p>オプション追加</p>
                            <label class="btn active" for="o2">
                                <input id="o2" type="checkbox"><i class="fa fa-check-square-o fa-2x"></i>
                                <span>抜け毛・毛玉処理</span>
                            </label>
                        </li>
                        <li class="color3" v-if="course3">
                            <p class="course-title">course3</p>
                            <p>メニュー</p>
                            <select>
                                <option value="noselect">選択してください</option>
                                <option value="0">シャンプー・カットなし</option>
                                <option value="1">シャンプー無し・カットあり</option>
                                <option value="2">シニアわんトリミング シャンプー＆カット</option>
                            </select>
                        </li>
                        <li class="color4" v-if="course4">
                            <p class="course-title">course4</p>
                            <p>オプション追加</p>
                            <label class="btn active" for="o4">
                                <input id="o4" type="checkbox"><i class="fa fa-check-square-o fa-2x"></i>
                                <span>『困ったにゃん』コース</span>
                            </label>
                        </li>
                    </ul>
                </div>
                <div class="sum">
                    <h4 class="font-digital">合計<span></span>円</h4>
                </div>
            </div>
        </div>
        <!-- 注意事項 -->
        <div class="course caution-box clear-float">
          <div class="box-margin">
            <div class="float-l box">
              <h1 class="caution">お詫び</h1>
              <p>
                爪切りだけの出張はしておりません。<br />
                『トリミングコース』か『シャンプーコース』に爪切りが含まれており、お手入れの仕方などお伝えしておりますので、どちらかのコースをご依頼ください。各コースにはオーナー様自身でお手入れできるよう、簡単なお手入れ方法＝正しいブラッシング・爪切りのやり方・抱き方のポイントなどをレクチャーしております。<br />
                何卒ご理解頂ければ幸いです。
              </p>
            </div>
            <div class="float-r box">
              <h1 class="caution">男性の方お問い合わせについて</h1>
              <ul>
                <li>★男性お一人住まいの男性</li>
                <li>★アニマルケアサロン・フローラの患者様ではない男性</li>
                <li>★一度も面識のない男性</li>
                <li>★知人からの紹介ではない男性</li>
              </ul>
              <p class="clear-float">
                上記内容の方は
                出張スタイルではなくアニマルケアサロン・フローラ（港区南青山）にて施術をさせて頂いております。<br />
                女性スタッフのため、何卒ご理解下さいますよう宜しくお願い致します。
              </p>
            </div>
          </div>
        </div>
      </section>
      <article class="background">
        <section class="button">
          <a href="#" class="btn-square-pop font-digital"
            >ご予約・お問い合わせはこちらから
            <!-- TODO:これを使えるようにする -->
            <i class="fa fa-chevron-right"></i>
          </a>
        </section>
      </article>

      <section class="title6 overflow">
        <h2 class="mini-title">
          <img src="img/custemersInterview.png" alt="みんなの声" />
        </h2>
        <p class="letterSpacing">VOICE</p>
        <hr class="mini-hr" />
        <!-- 麻酔無しで行う『困ったにゃん』コース -->
        <div class=" customer float-l">
          <img class="waku1" src="img/waku.png" alt="" />
          <div class="questionnaire">
            <img class="cat-picture float-l" src="img/cat1.png" alt="" />
            <div class="custemers-interview float-r">
              <p class="font-digital dotted-bottom">
                リンちゃん（トリミングコース）
              </p>
              <p>
                奇跡です！12年の猫性の中で初めて麻酔もなく、途中で返されることなく出来、綺麗にしてあげられて本当に良かった！
              </p>
            </div>
          </div>
        </div>
        <div class="customer float-l">
          <img class="waku2" src="img/waku.png" alt="" />
          <div class="questionnaire">
            <img class="cat-picture float-l" src="img/cat2.png" alt="" />
            <div class="custemers-interview float-r">
              <p class="font-digital  dotted-bottom">
                エリザベスちゃん（シャンプーコース）
              </p>
              <p>
                斎藤さんと相性がいいのね♥私にはダッコなかなかさせてくれないのに、なすがままなんてビックリです。
              </p>
            </div>
          </div>
        </div>
        <div class="customer float-l">
          <img class="waku1" src="img/waku.png" alt="" />
          <div class="questionnaire">
            <img class="cat-picture float-l" src="img/cat3.png" alt="" />
            <div class="custemers-interview float-r">
              <p class="font-digital dotted-bottom">
                ダビィちゃん（グルーミングコース）
              </p>
              <p>
                初めて飼うので全く何もわからなく悩んでいたところ、斎藤さんを探し当て、しかもご近所なので毎月グルーミングして貰え本当にラッキーです。
              </p>
            </div>
          </div>
        </div>
        <div class="customer float-l">
          <img class="waku2" src="img/waku.png" alt="" />
          <div class="questionnaire">
            <img class="cat-picture float-l" src="img/cat4.png" alt="" />
            <div class="custemers-interview float-r">
              <p class="font-digital  dotted-bottom">
                マハロくん（シャンプーコース）
              </p>
              <p>
                こんなに毛が抜けるなんて？！と驚きました。見た目も触り心地も全然違う！！この次から定期的にお願いしたいです！
              </p>
            </div>
          </div>
        </div>
      </section>
      <!-- 代表挨拶 -->
      <section class="title7 fadeInUp">
        <h1 class="font-digital">
          当店のトリマーは猫のことを知り尽くしたベテランです！
        </h1>

        <div class="representative overflow">
          <img class="picture" src="img/representative.png" alt="" />
          <div class="Interview float-l">
            <h2>Falien・代表　斎藤　美香</h2>
            <img src="img/line.png" alt="下線" />
            <p>
              ペットショップ店長として働き続け25年。
              <br />長い間お客様に携わっていく中で、寝たきりになってしまったシニアさん、どこもやってくれる所が無く困っている猫ちゃんのオーナー様からの『こちらでやって貰えませんか？』の問い合わせにお答えしているうち、ショップに出せずに困っているお客様が意外と多いことがわかり、そんな困っているペットさん＆オーナー様のために『ノンストレスであるお家で出来るトリミング＝出張スタイルを！』と思い独立。現在、幅広く活動中。
            </p>
            <a href="#" class="btn-flat-border float-r">ブログを見る</a>
          </div>
        </div>
      </section>
      <section class="button">
        <a href="#" class="btn-square-pop font-digital"
          >ご予約・お問い合わせはこちらから
          <i class="fa fa-chevron-right"></i>
        </a>
      </section>
      <p id="page-top"><a href="#wrap"></a></p>
    </main>
    <footer>
      <div class="icon">
        <a href=""><i class="fab fa-facebook-square fa-2x"></i></a>
        <a href="#"><i class="fab fa-instagram fa-2x"></i></a>
      </div>

      <p>代表ブログ | アニマルケアサロン・フローラ</p>
      <p>Copyright 2017 Feilien 無麻酔出張トリミング・猫ちゃん＆シニア専門</p>
    </footer>
  </body>
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script src="js/main.js"></script>
</html>
<script>
  bubbly({
    colorStart: '#fff4e6',
    colorStop: '#ffe9e4',
    blur: 1,
    compose: 'source-over',
    // bubbleFunc: () => `hsla(${Math.random() * 50}, 100%, 50%, .3)`
    bubbleFunc: function() {
      return 'hsla('.concat(Math.random() * 50, ', 100%, 50%, .3)');
    }
  });
</script>
